{
  "extends": "airbnb-base/legacy",
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-bitwise": ["error", { "allow": ["~", "^", "&", "|", "<<", ">>"] }],
    "new-cap": ["error", { "capIsNew": false }],
    "object-property-newline": 0,
    "comma-dangle": ["error", "always-multiline"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
